{% extends 'base.html' %} {% block head %}
<title>Welcome</title>
{% endblock %} {% block body %}
<div class="content">
  <h1>ATTENDANCE</h1>

  {% if tasks|length < 1 %}
  <h4>There are no data</h4>
  {% else %}

  <table>
    <tr>
      {% for column_name in column_names %}
      <th>{{ column_name }}</th>
      {% endfor %}
    </tr>
    {% for task_row in tasks %}
    <tr>
      {% for value in task_row[1:] %}
      <td>{{ value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
